.blog{
    width: 1920px;
    height: 808px;
    .blog-text{
       width: 1410px; 
       height: 740px;
       margin: 0 auto;
       .blog-up{
        width: 1136px;
        height: 141px;
        margin: 0 auto 50px auto;
            .up{
               font-size: 45px; 
               color: #212529;
               margin: 0 auto 20px auto;
               span{
                   color: #00730C;
                }
            }
            p{
                font-size: 18px;
                text-align: center;
                color: #676767;
                margin: 0;
            } 
        }   
            
       .blog-card{
           width: 100%;
           height: 549px;
           display: flex;
           justify-content: space-between;
           .blog-1,
           .blog-2{
              width: 450px;
              height: 549px;
            }
            .blog-1{
                background-image: url("images/full.png");
                opacity: 0.8;
                border-radius: 10px;
                background-position: center,bottom;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
                .blog-garden{
                    width: 139px;
                    height: 35px;
                    border: 1px solid #D9F1E0;
                    background-color: #D9F1E0;
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
                    font-size: 18px;
                    color: #00730C;
                    text-align: center;
                    margin-top: 100px;
                    margin-left: 30px;
                    padding-top: 5px;
                }
                .blog-3{
                    font-size: 24px;
                    color: #ffffff;
                    margin: 75px 58px 30px 30px;
                }
                p{
                    font-size: 18px;
                    color: #ffffff;
                    margin: 0 32px 0 30px;
                }
                .blog-down{
                    width: 450px;
                    height: 55px;
                    background-image: url("images/Profiledates.png");
                    border-top: 1px solid white;
                    margin-top: 70px;
                }
            }
            .blog-2{
                background-color: #ffffff;
                border-radius: 10px;
                background-image: url("images/ma.png");
                background-repeat: no-repeat;
                background-position: 100% 0;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
                .blog-garden-1{
                    width: 123px;
                    height: 35px;
                    border: 1px solid #D9F1E0;
                    background-color: #D9F1E0;
                    color: #00730C;
                    font-size: 18px;
                    text-align: center;
                    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
                    padding-top: 5px;
                    margin: 100px 0 30px 30px;
                }
                .blog-4{
                    width: 362px;
                    height: 66px;
                    font-size: 24px;
                    color: #00730C;
                    margin: 0 58px 30px 30px;
                }
                p{
                    width: 388px;
                    height: 160px;
                    font-size: 18px;
                    color: #676767;
                    margin: 0 32px 25px 35px;
                }
                .blog-down-1{
                    width: 450px;
                    height: 55px;
                    background-image: url("images/ProfileDate.png");
                    border-top: 1px solid white;
                }
            }
        }  
    }
    .slider{
        width: 290px;
        height: 8px;   
        margin: 60px auto 0 auto;
        display: flex;
        justify-content: space-between;
        & > .mini-slider{
            width: 50px;
            height: 8px;
            border: 1px solid #00730C;
            background-color:  #FBEEE7;
            cursor: pointer;
            &:hover{
                background-color: #00730C;
            }
        }  
    }
}
@media(max-width:1024px){
    .blog{
        width: 1024px;
        height: 808px;
        .blog-text{
           width: 924px; 
           height: 740px;
           margin: 0 auto;
           .blog-up{
            width: 924px;
            height: 141px;
            margin: 0 auto 30px auto;
                .up{
                   font-size: 36px; 
                   margin: 0 auto 10px auto;
                }
                p{
                    font-size: 16px;
                } 
            }       
           .blog-card{
               .blog-1,
               .blog-2{
                  width: 400px;
                  height: 549px;
                }
                .blog-1{
                    background-image: url("images/full.png");
                    opacity: 0.8;
                    border-radius: 10px;
                    background-position: center,bottom;
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
                    .blog-3{
                        font-size: 24px;
                        color: #ffffff;
                        margin: 75px 58px 30px 30px;
                    }
                    p{
                        font-size: 18px;
                        color: #ffffff;
                        margin: 0 32px 0 30px;
                    }
                    .blog-down{
                        width: 400px;
                        height: 55px;
                        background-image: url("images/Profiledates.png");
                        border-top: 1px solid white;
                        margin-top: 70px;
                    }
                }
                .blog-2{
                    display: none;
                }
            }  
        }
    }
}
@media(max-width:768px){
    .blog{
        width: 768px;
        height: 616px;
        margin: 0 0 50px 0;
        .blog-text{
           width: 728px; 
           height: 616px;
           margin: 0 20px;
           .blog-up{
            width: 728px;
            height: 168px;
            margin: 0 0 40px 0;
                .up{
                   font-size: 32px; 
                }
                p{
                    font-size: 18px;
                } 
            }      
           .blog-card{
               width: 728px;
               height: 428px;
               display: block;
               border-radius: 10px;
               padding: 30px 100px;
               filter: drop-shadow(2px 11px 30px rgba(51, 51, 51, 0.08));
               .blog-1{
                display: none;
               }
                .blog-2{
                    background-image: url("images/ma.png");
                    background-repeat: no-repeat;
                    background-position: 280px 0;
                    box-shadow: none;
                    width: 496px;
                    height: 380px; 
                    margin: 0 auto; 
                    padding: 10px;
                    display: block;
                    .blog-garden-1{
                        width: 122px;
                        height: 30px;
                        margin: 0;
                    }
                    .blog-4{
                        width: 344px;
                        height: 48px;
                        font-size: 20px;
                        margin: 30px 0 10px 0;
                    }
                    p{
                        width: 364px;
                        height: 154px;
                        font-size: 16px;
                        margin: 0 0 20px 0;
                    }
                    .blog-down-1{
                        width: 384px;
                        height: 60px;
                        background-image: url("images/ProfileDate.png");
                        border-top: 1px solid white;
                        background-size: 100%;
                        background-position: top;
                        background-repeat: no-repeat;
                    }
                }
            }  
        }
        .slider{
           display: none;
        }
    }
}
@media(max-width:375px){
    .blog{
        width: 375px;
        height: 576px;
        margin: 0 0 50px 0;
        .blog-text{
           width: 345px; 
           height: 576px;
           margin: 0 15px;
           .blog-up{
            width: 345px;
            height: 168px;
            margin: 0 ;
                .up{
                   font-size: 28px; 
                }
                p{
                    font-size: 14px;
                } 
            }      
           .blog-card{
               width: 345px;
               height: 408px;
               display: block;
               border-radius: 5px;
               padding: 30px 20px;
               filter: drop-shadow(2px 11px 30px rgba(51, 51, 51, 0.08));
               .blog-1{
                display: none;
               }
                .blog-2{
                    background-image: url("images/ma.png");
                    background-repeat: no-repeat;
                    background-position: 150px 0;
                    box-shadow: none;
                    width: 305px;
                    height: 348px; 
                    margin: 0; 
                    padding: 0;
                    .blog-garden-1{
                        width: 122px;
                        height: 30px;
                        margin: 0;
                    }
                    .blog-4{
                        width: 277px;
                        height: 44px;
                        font-size: 16px;
                        margin: 40px 0 15px 0;
                    }
                    p{
                        width: 305px;
                        height: 154px;
                        font-size: 14px;
                        margin: 0 0 30px 0;
                    }
                    .blog-down-1{
                        width: 305px;
                        height: 35px;
                        background-image: url("images/ProfileDate.png");
                        border-top: 1px solid white;
                        background-size: 90%;
                        background-repeat: no-repeat;
                    }
                }
            }  
        }
        .slider{
           display: none;
        }
    }
}