.header{
    width: 1920px;
    height: 863px;
    margin: 0 auto 100px 0;
    padding: 0;
    .top-navbar{
        font-family: 'Poppins', sans-serif;
        width: 1920px;
        height: 59px;
        padding: 17px 251px;
        background-color: #0C4B35;
        .text{
            width: 1418px;
            height: 25px;
            display: flex;
            justify-content: space-between;
            color:  #FFFFFF;
            font-size: 14px;
            .text-left{
                width: 739px;
                height: 25px;
                display: flex;
                justify-content: space-between;
                .left-1,
                .left-2,
                .left-3{
                    background-repeat: no-repeat;
                    padding-left: 35px;
                }
                .left-1{
                    background-image: url("images/email.png");
                }
                .left-2{
                    background-image: url("images/phone-call.png");
                }
                .left-3{
                    background-image: url("images/location.png");
                }
                
            }
            .text-right{
                width: 66px;
                height: 25px;
                cursor: pointer;
                .right{
                    background-image: url("images/downArrow.png");
                    background-repeat: no-repeat;
                    background-position: right;
                }
            }
        }
        
        
    }
    .navbar{
        width: 1920px;
        height: 85px;
        .navbar-1{
            width: 1408px;
            height: 55px;
            margin: 15px 256px;
            display: flex;
            justify-content: space-between;
            a img{
                width: 120px;
                height: 55px;
            }
            .text-1-1{
                width: 898px;
                height: 50px;
                display: flex;
                justify-content: space-between;
                .text-1-2{
                    display: flex;
                    justify-content: space-between;
                    width: 627px;
                    .home,
                    .company,
                    .services,
                    .project,
                    .blog {
                        background-image: url("images/arrowblack.png");
                        background-repeat: no-repeat;
                        font-size: 16px;
                        color: #212529;
                        background-position: 95%;
                        height: 20px;
                        cursor: pointer;       
                    }
                    .home{
                        width: 62px;     
                    }
                    .company{
                        width: 87px;

                    }
                    .services{
                        width: 79px;
                    }
                    .project{
                        width: 70px;
                    }
                    .blog{
                       width: 51px; 
                    }
                    .contact{
                        width: 58px;
                        height: 20px;
                    }
                }
                .btn-call{
                    
                    button{
                        width: 170px;
                        height: 50px;
                        border: 1px solid #00730C;
                        background-color: #00730C;
                        border-radius: 5px;
                        color: #FFFFFF;
                        background-image: url("images/phone.png");
                        background-repeat: no-repeat;
                        background-position: 20%;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .header-frame{
        width: 1920px;
        height: 719px;
        display: flex;
        justify-content: space-between;
        background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
        .img{
            margin: 381px 0 60px 0;
            img{
                width: 197px;
                height: 278px;       
            }
        }
        .frame-text{
           width: 556px;
           height: 486px;
           margin: 133px 0 100px -40px; 
           .frame-1{
             height: 278px;
             margin-bottom: 50px;
                .land{
                     background-image: url("images/Vector.png");
                     background-repeat: no-repeat;
                     color: #212529;
                     font-size: 16px;
                     padding-left: 29px;
                     margin-bottom: 20px;
                     margin-top: 0;
                }
                h4{
                  width: 696px;
                  height: 158px;
                  color: #212529; 
                  font-size: 58px;
                  margin-top: 0;
                  margin-bottom: 20px;
                  span{
                    color: #00730C;
                  }

                }
                .lorem{
                    font-size: 18px;
                    color: #676767;
                    margin: 0;
                   
                }
            }
            .btn-header{
                width: 400px;
                margin-bottom: 58px;
                display: flex;
                justify-content: space-between;
                .btn-get{
                    border: 1px solid #00730C;
                    border-radius: 5px;
                    width: 175px;
                    height: 50px;
                    background-color: #00730C;
                    color:  #FFFFFF;
                    padding: 13px 35px;
                    cursor: pointer;
                    font-size: 18px;
                }
                .btn-see{
                    width: 190px;
                    height: 37px;
                    text-align: left;
                    margin-top: 5px;
                    padding-top: 5px;
                    background-image: url("images/Arrowright.png");
                    background-repeat: no-repeat;
                    background-position: 90%;
                    color: #676767;
                    font-size: 18px;
                    
                }
                
            }
            .tag{
                width: 467px;
                height: 50px;
                display: flex;
                .tag-1,
                .tag-2{
                    width: 149px;
                    height: 50px;
                    display: flex;
                    .number{
                        width: 50px;
                        height: 50px;
                        border-radius: 35px;
                        background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
                        padding: 15px 7px;
                        color: #212529;
                        margin-right: 10px;
                    }
                    .text-2{
                        font-size: 16px;
                    }
                }   
            } 
        }
        .img-header{
            width: 1013px;
            height: 673px;
            margin-top: 46px;   
        }  
    }   
}
@media(max-width:768px){
    .header{
        width: 768px;
        height: 1012px;
        margin: 0 auto 50px 0;
        .top-navbar{
            width: 768px;
            height: 52px;
            padding: 15px 20px;
            .text{
                width: 700px;
                height: 28px;
                .text-left{
                    width: 266px;
                    height: 28px;
                    font-size: 0;
                    .left-1,
                    .left-2,
                    .left-3{
                        background-size: 20px;
                    }  
                }
                .text-right{
                    width: 66px;
                    height: 28px;
                }
            }  
        }
        .navbar{
            width: 768px;
            height: 58px;
            .navbar-1{
                width: 700px;
                height: 52px;
                margin: 15px auto;
                padding: 0 5px;
                a img{
                    width: 90px;
                    height: 40px;
                }
                .text-1-1{
                    width: 160px;
                    height: 40px;
                    background-image: url("images/menu.png");
                    background-repeat: no-repeat;
                    background-position: right;
                    cursor: pointer;
                    .text-1-2{
                        display: none;
                    }
                    .btn-call{
                        button{
                            width: 60px;
                            height: 40px;
                            border-radius: 10px;
                            font-size: 0;
                        }
                    }
                }
            }
        }
        .header-frame{
            width: 768px;
            height: 448px;
            margin-top: 440px;
            padding: 0;
            .img{
                margin: 322px 0 0 0;
                height: 118px;
                img{
                    width: 136px;
                    height: 118px;       
                }
            }
            .frame-text{
                width: 600px;
                height: 380px;
                margin: 28px 10px 35px 0;
               .frame-1{
                height: 196px;
                margin: 0 0 0 42px;
                    .land{
                        font-size: 24px;
                        margin-bottom: 10px;
                    }
                    h4{
                        width: 520px;
                        height: 36px;
                        font-size: 32px;
                        margin-bottom: 20px;
                    }
                    .lorem{
                        width: 520px;
                        font-size: 18px;
                        margin: 0 0 40px 0;  
                    }
                }
                .btn-header{
                    width: 468px;
                    height: 98px;
                    margin-bottom: 40px;
                    flex-direction: column;
                    align-items: center;
                    margin-left: 16px;
                    .btn-get{
                        border: 1px solid #00730C;
                        border-radius: 5px;
                        width: 303px;
                        height: 44px;
                        background-color: #00730C;
                        color:  #FFFFFF;
                        text-align: center;
                        cursor: pointer;
                        font-size: 18px;
                    }
                    .btn-see{
                        width: 268px;
                        height: 44px;
                        text-align: left;
                        margin-top: 30px;
                        margin-bottom: 0;
                        background-image: url("images/Arrowright.png");
                        background-repeat: no-repeat;
                        background-position: right;
                        color: #676767;
                        font-size: 16px;    
                    }    
                }
                .tag{
                    width: 424px;
                    height: 44px;
                    display: flex;
                    justify-content: space-between;
                    margin-left: 36px;
                    
                    .tag-2{
                        display: none;
                    }
                    .tag-1{
                        width: 158px;
                        height: 44px;
                        background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
                        border-radius: 30px;
                        display: flex;
                        justify-content: space-evenly;
                        .number{
                            width: 32px;
                            height: 36px;
                            color: #212529;
                            border-radius: 0;
                            background: transparent;
                            padding: 10px;
                            background-color:transparent;
                            font-size: 14px;
                        }
                        .text-2{
                            font-size: 12px;
                            align-items: center;
                            padding-top: 10px;
                        }
                    } 
                }  
            }
            .img-header{
                margin-left: -708px;
                margin-top: -438px;  
            }
            .img-header a img{
                width: 768px;
                height: 440px; 
            }    
        }  
    }
}
@media(max-width:375px){
    .header{
        height: 812px;
        margin: 0 auto 50px auto;
        .top-navbar{
            width: 375px;
            height: 55px;
            padding: 20px 20px 15px 20px;
            .text{
                width: 335px;
                height: 20px;
                .text-left{
                    width: 100px;
                    font-size: 0;
                    .left-1,
                    .left-2,
                    .left-3{
                        background-size: 20px;
                    }
                }
                .text-right{
                    width: 62px;
                    height: 16px;
                    font-size: 12px;  
                }
            }   
        }
        .navbar{
            width: 375px;
            height: 70px;
            padding-top: 5px;
            .navbar-1{
                width: 375px;
                height: 40px;
                display: flex;
                justify-content: space-between;
                margin: 15px auto;
                padding: 0 15px;
                a img{
                    width: 90px;
                    height: 40px;
                }
                .text-1-1{
                    width: 110px;
                    height: 34px;
                    background-image: url("images/menu.png");
                    background-repeat: no-repeat;
                    background-position: right;
                    cursor: pointer;
                    .text-1-2{
                        display: none;  
                    }
                    .btn-call{
                        button{
                            width: 40px;
                            height: 34px;
                            border-radius: 10px;
                            background-image: url("images/phone.png");
                            font-size: 0;
                        }
                    }
                }
            }
        }
        .header-frame{
            width: 375px;
            height: 446px;
            background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
            margin-top: 240px;
            padding: 0;
            .img{
                margin: 333px 0 -120px 0;
                height: 118px;
                img{
                    width: 83px;
                    height: 118px;       
                }
            }
            .frame-text{
               width: 375px;
               height: 418px;
               margin: 47px 15px 35px -64px;
               .frame-1{
                 height: 187px;
                 margin: 0;
                    .land{
                         background-image: url("images/Vector.png");
                         background-repeat: no-repeat;
                         color: #212529;
                         font-size: 14px;
                         margin-bottom: 10px;
                         margin-top: 0;
                    }
                    h4{
                      width: 350px;
                      height: 76px;
                      color: #212529; 
                      font-size: 28px;
                      margin-top: 0;
                      margin-bottom: 15px;
                      span{
                        color: #00730C;
                      }
    
                    }
                    .lorem{
                        width: 345px;
                        font-size: 14px;
                        color: #676767;
                        margin: 0 0 40px 0;
                       
                    }
                }
                .btn-header{
                    width: 375px;
                    margin-bottom: 20px;
                    flex-direction: column;
                    align-items: center;
                    margin-left: -20px;
                    .btn-get{
                        border: 1px solid #00730C;
                        border-radius: 5px;
                        width: 303px;
                        height: 44px;
                        background-color: #00730C;
                        color:  #FFFFFF;
                        text-align: center;
                        cursor: pointer;
                        font-size: 16px;
                    }
                    .btn-see{
                        width: 140px;
                        height: 21px;
                        text-align: left;
                        margin-top: 20px;
                        margin-bottom: 40px;
                        background-image: url("images/Arrowright.png");
                        background-repeat: no-repeat;
                        background-position: right;
                        color: #676767;
                        font-size: 14px;
                        
                    }
                    
                }
                .tag{
                    width: 278px;
                    height: 32px;
                    display: flex;
                    justify-content: space-between;
                    margin-left: 56px;
                    
                    .tag-2{
                        display: none;
                    }
                    .tag-1{
                        width: 133px;
                        height: 32px;
                        background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
                        border-radius: 32px;
                        display: flex;
                        justify-content: space-evenly;
                        .number{
                            width: 29px;
                            height: 16px;
                            color: #212529;
                            border-radius: 0;
                            background: transparent;
                            padding: 5px;
                            background-color:transparent;
                            font-size: 12px;
                        }
                        .text-2{
                            font-size: 10px;
                            align-items: center;
                            padding-top: 7px;
                        }
                    }
                    
                }
               
            }
            .img-header{
                margin-left: -390px;
                margin-top: -240px;
            }
            .img-header a img{
                width: 375px;
                height: 240px; 
            }   
        }
    }
}