.logos{
   width: 1712px;
   height: 100px;
   margin: 100px 104px;
   display: flex;
   justify-content: space-between;
   .logos-1{
    background-image: url("images/morris.png");
   }
   .logos-2{
    background-image: url("images/forest.png");
    background-repeat: no-repeat;
   }
   .logos-3{
    background-image: url("images/acme.png");
   }  
}
[class*="logos-"]{
    width: 202px;
    height: 100px;
}
@media(max-width:1024px){
    .logos{
        width: 924px;
        height: 100px;
        margin: 50px;
        display: block;
        background-image: url("images/morris.png"), url("images/forest.png"), url("images/acme.png");
        background-repeat: no-repeat;
        background-position: 10%,50%, 90%;
        background-size: 141px, 112px;
        .logos-1,
        .logos-2,
        .logos-3{
         display: none;
        }  
     }
}
@media(max-width:768px){
    .logos{
        width: 768px;
        height: 80px;
        margin: 50px 0;
        display: block;
        background-image: url("images/morris.png"), url("images/forest.png"), url("images/acme.png");
        background-repeat: no-repeat;
        background-position: 10%,50%, 90%;
        background-size: 141px, 112px;
        .logos-1,
        .logos-2,
        .logos-3{
        display: none;    
        } 
     }
    
}
@media(max-width:375px) {
    .logos{
        width: 375px;
        height: 70px;
        margin: 50px 0;
        display: block;
        background-image: url("images/morris.png"), url("images/forest.png");
        background-repeat: no-repeat;
        background-position: 10%, 90%;
        background-size: 141px, 112px;
        .logos-1,
        .logos-2,
        .logos-3{
        display: none;    
        } 
     }
}