.team-1{
    width: 1920px;
    height: 609px;
    margin: 100px 0;
    .text-team{
        width: 1410px;
        height: 151px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .team-text{
            width: 956px;
            height: 100%;
            .team-title{
                font-size: 45px;
                color: #000000;
                margin: 0 0 30px 0;
                span{
                    color: #00730C;
                }
            }
            p{
              font-size: 18px; 
              color:  #676767; 
              margin: 0;
            }
        }
        
        .btn-discover{
            align-self: flex-end;
            width: 190px;
            height: 50px;
            border: 1px solid #00730C;
            border-radius: 5px;
            font-size: 18px;
            color: #ffffff;
            background-color: #00730C;
            cursor: pointer;
        }
    }
    .cards-team{
        width: 1410px;
        height: 408px;
        margin: 50px auto 100px auto;
        display: flex;
        justify-content: space-between;
        .experts{
            width: 330px;
            height: 408px;
            background: linear-gradient(6.68deg, #00730C 4.95%, rgba(251, 246, 238, 0) 264.79%);
            border-radius: 10px;
            .team-text{
                width: 250px;
                height: 114px;
                background-image: url("images/social.png");
                background-repeat: no-repeat;
                color: #ffffff;
                font-size: 24px;
                text-align: center;
                margin: 147px auto 0 auto;
                background-position: 0;
                
            }    
        }
        .expert{ 
            display: relative; 
            img{
                border-radius: 10px;
            }
            .text-cards{
                position: absolute;
                 width: 330px;
                 height: 90px;
                 color: #ffffff;
                 background: linear-gradient(6.68deg, #00730C 4.95%, rgba(251, 246, 238, 0) 264.79%);
                 border-radius: 10px;
                 transform: translate(0, -107%);
                .team-text{
                     font-size: 24px;
                     text-align: center;
                      margin-top: 13px; 
                }
                p{
                    font-size: 18px;
                    text-align: center;
                    margin: 0;
                }
            }
                
        }
    }
}
@media(max-width:375px){
    .team-1{
        width: 375px;
        height: 654px;
        margin: 0 0 50px 0;
        padding: 0 15px;
        .text-team{
            width: 345px;
            height: 233px;
            margin: 0;
            display: block;
            .team-text{
                width: 345px;
                height: 163px;
                text-align: center;
                margin-bottom: 30px;
                .team-title{
                    font-size: 28px;
                    margin: 0 0 15px 0;
                }
                p{
                  font-size: 14px; 
                }
            }
            
            .btn-discover{
                width: 167px;
                height: 40px;
                font-size: 16px;
                margin-left: 85px;
            }
        }
        .cards-team{
            width: 345px;
            height: 345px;
            margin: 40px 0 30px 0;
            display: block;
            .experts{
                display: none;
            }
            .expert{
                display: none; 
                img{
                    width: 330px;
                    height: 343px;
                    border-radius: 5px;
                }
                .text-cards{
                     width: 330px;
                     height: 62px;
                     border-radius: 5px;
                     transform: translate(0, -107%);
                    .team-text{
                         font-size: 18px;
                          margin-top: 7px; 
                    }
                    p{
                        font-size: 14px;
                        text-align: center;
                        margin: 0;
                    }
                }
                    
            }
        }
    }
    // .slider{
    //     width: 178px;
    //     height: 6px;
    //     margin: 0 96px;
    //     display: flex;
    //     justify-content: space-between;
    //     .slider-mini{
    //          width: 50px;
    //          height: 6px;
    //          border: 1px solid #00730C;
    //          cursor: pointer;
    //          background-color: #ffffff;
    //          &:hover{
    //             background-color: #00730C;
    //         }
    //     }
    // }
}
